<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite">
    <test verbose="2" name="ACT">
        <classes>
            <class name="testmavenproject.LoginTest"/>
            <class name="testmavenproject.PutInBasketTest"/>
        </classes>
    </test>
</suite>